#login.hidden{
    display: none;
}

#xbutton{
    display: inline;
    position: absolute;
    top: 7%;
    left: 94%;
}
h1{
    display: inline-block;
    position: fixed;
    font-size: 400%;
    top: 15vh;
    left: 40vw;

}
footer{
    display: inline-block;
    position: fixed;
    font-size: 40%;
    top: 75vh;
    left: 40vw;
    width: 30vw;
}
button{
    background-color:rgb(16, 128, 168) ; 
    border: none;
    color: white;
    border-radius: 5%;
    font-size:120%;
}

#login{

    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
input{
    color: black;
}
#logincontainer{
    background-color: rgb(4,60,117);
    border-style: solid;
    border-color: white;
    width: 60vw;
    height:50vh ;
    position:fixed;
    left:20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logincontainerleft{
    flex-basis: 90%;
    padding-left: 5%;
}
#logincontainerright > section{

    border-left: solid rgb(2, 2, 105);
    padding-left: 2%;
}
#loginbutton{
    position : absolute;
    left :5%;
    bottom: 12%;

}
#logincontainerleft label{
    display: block;
    color: rgb(66, 173, 245);
}
#signupbutton{
    position: absolute;
    bottom : 12%;
}
#login h2{
    color: white;
}